<mat-toolbar>
  <mat-toolbar-row class="app-toolbar">
    <span class="brand">{{ title() }}</span>

    <span class="spacer"></span>
    <button mat-button routerLink="/about-demo" class="nav-button">
      About this Demo App
    </button>

    <button mat-button routerLink="/about-me" class="nav-button">
      About Me
    </button>

    <button mat-button routerLink="/dashbaord" class="nav-button">
      Dashboard
    </button>

    <button mat-button routerLink="/login" class="nav-button">Login</button>
  </mat-toolbar-row>
</mat-toolbar>
