<mat-toolbar>
  <mat-toolbar-row
    class="app-toolbar flex flex-wrap items-center justify-between gap-2"
  >
    <span
      class="brand hover:cursor-pointer text-blue-700 tracking-wide"
      routerLink="about-demo"
      >{{ title() }}</span
    >

    <span class="spacer"></span>
    <button mat-button routerLink="about-demo" class="nav-button">
      About this Demo App
    </button>

    <button mat-button routerLink="about-me" class="nav-button">
      About Me
    </button>

    <button mat-button routerLink="azure-integration-demo" class="nav-button">
      Azure Integration Demo
    </button>

    <button mat-button routerLink="angular-course" class="nav-button">
      30 Days Angular Course
    </button>

    <button mat-button routerLink="landing" class="nav-button">
      Dashboard
    </button>

    <!-- not logged in -->
    @if (authService.currentUser() === null) {
    <button mat-button routerLink="login" class="nav-button">Login</button>
    }

    <!-- logged in users-->
    @else {
    <!-- admin only -->
    @if (authService.isAdmin()) {
    <button mat-button routerLink="manage-app-users" class="admin-only-button">
      Manage Users
    </button>
    }

    <!-- all autheticated users - admin || staff -->
    <button
      mat-button
      routerLink="manage-departments"
      class="staff-admin-button"
    >
      Manage Departments
    </button>
    <button mat-button routerLink="manage-employees" class="staff-admin-button">
      Manage Employees
    </button>
    <!-- <button mat-button routerLink="manage-profile" class="staff-admin-button">
      My Profile
    </button> -->
    <button mat-button (click)="logOut()" class="staff-admin-button">
      Logout -
      <span class="username-span">{{
        authService.currentUser()?.username | uppercase
      }}</span>
    </button>
    }
  </mat-toolbar-row>
</mat-toolbar>
