<mat-toolbar>
  <mat-toolbar-row class="app-toolbar">
    <span class="brand">{{ title() }}</span>

    <span class="spacer"></span>
    <button mat-button routerLink="about-demo" class="nav-button">
      About this Demo App
    </button>

    <button mat-button routerLink="about-me" class="nav-button">
      About Me
    </button>

    <button mat-button routerLink="" class="nav-button">Dashboard</button>

    @if (authService.currentUser() === null) {
    <button mat-button routerLink="login" class="nav-button">Login</button>
    } @else {

    <button mat-button routerLink="manage-app-users" class="nav-button">
      Manage Users
    </button>
    <button mat-button (click)="logOut()" class="nav-button">Logout</button>
    }
  </mat-toolbar-row>
</mat-toolbar>
