<h1 class="col-span-2 text-2xl font-bold text-indigo-700 mb-3 mt-3">
  Step 1,2,3,4,5,6,7 - Publish to Service Bus...etc
</h1>
<form
  class="three-col-form text-center"
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
>
  <label class="label text-blue-500">Number to Post to AZ Function:</label>
  <input
    type="number"
    class="text-box text-blue-500"
    formControlName="number"
  />
  <div class="error-lbl">
    @if((numberInput.dirty || numberInput.touched) && numberInput.invalid) { @if
    (numberInput.errors?.['required']) {
    <span>Required</span>
    } }
  </div>

  <div></div>
  <div>
    <button class="primary-btn float-start" [disabled]="formGroup.invalid">
      Post To Azure Function
    </button>
  </div>
</form>

<div class="grid grid-cols-2 gap-4 mt-10">
  <!-- Full-width heading -->
  <h1 class="col-span-2 text-2xl font-bold text-indigo-700 mb-3">
    Setp 8 - Subscriber Recieved from Service Bus Topic...etc
  </h1>

  <!-- Left Column: Even Numbers -->
  <div class="w-full">
    <app-azure-numbers-display-grid
      [numbersDto]="evenNumbersDto"
      [heading]="evenNumbersHeading"
    ></app-azure-numbers-display-grid>
  </div>

  <!-- Right Column: Odd Numbers -->
  <div class="w-full">
    <app-azure-numbers-display-grid
      [numbersDto]="oddNumbersDto"
      [heading]="oddNumbersHeading"
    ></app-azure-numbers-display-grid>
  </div>
</div>
