<footer class="footer-container mat-elevation-z2">
  <div class="footer-content">
    <span class="footer-text"
      >© {{ currentYear() }} Emp App — All rights reserved.</span
    >
    <nav class="footer-links">
      <a
        mat-button
        href="https://www.linkedin.com/in/buddhikagunasekera/"
        class="footer-link"
        >LinkedIn</a
      >
      <a mat-button href="https://github.com/buddhika85" class="footer-link"
        >GitHub</a
      >
      <a
        mat-button
        href="https://stackoverflow.com/users/1887468/buddhika"
        class="footer-link"
        >Stackoverflow</a
      >
    </nav>
  </div>
</footer>
